# Job setup for Nath & Thingbaijam (2012)

Mostly minor reformatting.

In [61]:
import numpy as np
import scipy as sp
import pandas as pd
import toolbox as tb

In [11]:
df_table3 = pd.read_csv('nath2012probabilistic/Table 3.csv', skiprows=1)

In [63]:
df_table3

,City,Latitude (°N),Longitude (°E),BIS,zone,GSHAP,Present,Other,Reference
0,Ahmedabad,23.03,72.61,0.08,III,0.05,0.11,0.10,Jaiswal and Sinha 2007†
1,Bangalore,12.98,77.58,0.05,II,0.05,0.11,0.10; 0.15,Jaiswal and Sinha 2007†; Anbazhagan et al. 2009
2,Bhuj,23.25,69.66,0.18,V,0.20,0.42,0.25; 0.20-0.70,Jaiswal and Sinha 2007†; Petersen et al. 2004‡
3,Chennai,13.00,80.18,0.08,III,0.05,0.12,0.089; 0.10,Menon et al. 2010; Jaiswal and Sinha 2007†
4,Dehradun,30.33,78.04,0.12,IV,0.30,0.47,0.45,Mahajan et al. 2010
5,Guwahati,26.18,91.73,0.18,V,0.30,0.66,0.50,Sharma and Malik 2006
6,Hyderabad,17.45,78.46,0.05,II,0.05,0.09,0.08,Jaiswal and Sinha 2007†
7,Imphal,24.78,93.94,0.18,V,0.45,0.68,0.50,Sharma and Malik 2006
8,Jabalpur,23.20,79.95,0.08,III,0.10,0.19,0.15,Jaiswal and Sinha 2007†
9,Kolkata,22.65,88.45,0.08,III,0.10,0.15,0.10,Jaiswal and Sinha 2007†
10,Koyna,17.40,73.75,0.12,IV,0.25,0.47,0.25,Jaiswal and Sinha 2007†
11,Mumbai,19.11,72.85,0.08,III,0.10,0.16,0.15,Jaiswal and Sinha 2007†
12,New Delhi,28.56,77.11,0.12,IV,0.15,0.24,NaN,NaN
13,Patna,25.60,85.10,0.12,IV,0.05,0.13,NaN,NaN
14,Port Blair,11.61,92.72,0.18,V,0.25,0.71,NaN,NaN
15,Shillong,25.48,92.11,0.18,V,0.30,0.72,0.45,Sharma and Malik 2006
16,Srinagar,34.08,74.80,0.18,V,0.25,0.33,NaN,NaN
17,Thiruvananthapuram,8.50,76.95,0.08,III,0.05,0.07,NaN,NaN

In [19]:
[row for row in df_table3[['Latitude (°N)', 'Longitude (°E)']]]

['Latitude (\xc2\xb0N)', 'Longitude (\xc2\xb0E)']

In [39]:
data = np.array(df_table3[['Latitude (°N)', 'Longitude (°E)']])
print('sites = %s' % ', '.join([' '.join([str(lon), str(lat)]) for lat, lon in data]))

sites = 72.61 23.03, 77.58 12.98, 69.66 23.25, 80.18 13.0, 78.04 30.33, 91.73 26.18, 78.46 17.45, 93.94 24.78, 79.95 23.2, 88.45 22.65, 73.75 17.4, 72.85 19.11, 77.11 28.56, 85.1 25.6, 92.72 11.61, 92.11 25.48, 74.8 34.08, 76.95 8.5

Given an occurrence rate $\lambda$ in a given time span $T_1$ the probability of one or more occurrences $P_1$ is

$P_1 = 1 - e ^{-\lambda T_1}$

so given a probability of exceedence, we can compute the rate 

$\lambda = \frac{-1}{T_1} \ln(1 - P_1)$

and work out the probability of exceedence for a different time period.

$P_2 = 1 - e ^{-\lambda T_2}$

In [93]:
P_1 = np.array([0.1, 0.02])
T_1 = 50  # years
rate = -np.log(1 - P_1)/T_1  # per year
T_2 = 1.  # year
P_2 = P_2 = 1 - np.exp(-rate*T_2)

print('investigation_time = %s' % str(T_2))
print('poes = %s' % ' '.join([str(P) for P in P_2]))

investigation_time = 1.0
poes = 0.00210499170414 0.000403972527467

In [83]:
im_types = ['PGA', 'SA(0.2)', 'SA(1.0)']
periods = tb.logspace(0.005, 4, 3)
periods_string = ', '.join([str(T) for T in periods])

print('intensity_measure_types_and_levels = {%s}' 
      % ', '.join(['"%s": [%s]' % (im_type, periods_string) 
                   for im_type in im_types]))

intensity_measure_types_and_levels = {"PGA": [0.005, 0.01, 0.02, 0.05, 0.1, 0.2, 0.5, 1.0, 2.0], "SA(0.2)": [0.005, 0.01, 0.02, 0.05, 0.1, 0.2, 0.5, 1.0, 2.0], "SA(1.0)": [0.005, 0.01, 0.02, 0.05, 0.1, 0.2, 0.5, 1.0, 2.0]}